.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
__pycache__/

# GoMikroBot specific
.gomikrobot/
*.db
*.db-shm
*.db-wal
config.json
whatsapp-qr.png
